<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <title th:text="${organization.name}"/>
</head>
<body class="text-light bg-dark">
<header th:insert="blocks/header :: header"/>

<div class="container">
    <div class="row align-items-center alert alert-primary">
        <h2 class="col" th:text="${organization.name}"/>
        <a class="ml-2 btn btn-primary" th:href="@{/organization/{id}/edit(id=${organization.getId()})}">Изменить</a>
        <form th:action="'/organization/' + ${organization.id} + '/remove'" method="post">
            <button class="ml-2 btn btn-danger" type="submit">Удалить</button>
        </form>
    </div>
    <div th:if="${organization.description != null}">
        <p class="lead" th:text="${organization.description}"/>
    </div>
    <div class="mb-5">
        <a class="btn btn-success" th:href="@{/organization/{id}/addEmployee(id=${organization.getId()})}">Нанять сотрудника</a>
    </div>
    <div th:if="${employees.size() == 0}">Нет информации о сотрудниках.</div>
    <table th:if="${employees.size() > 0}" class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col" width="1px">#</th>
            <th scope="col">Имя</th>
            <th scope="col" width="1px"></th>
            <th scope="col" width="1px"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${employees}">
            <th scope="row" th:text="${el.id}"/>
            <td th:text="${el.name}"/>
            <td><a th:href="@{/employee/{id}(id=${el.getId()})}" class="btn btn-primary">Подробнее</a></td>
            <td>
                <form th:action="'/organization/' + ${organization.id} + '/dismissEmployee'" method="post">
                    <input type="hidden" name="idEmployee" th:value="${el.id}">
                    <button type="submit" class="btn btn-danger">Уволить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>