<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <title>Организации</title>
</head>
<body class="text-light bg-dark">
<header th:insert="blocks/header :: header"/>

<div class="container">
    <h2 class="alert alert-success">Новая организация</h2>
    <form action="/organization/new" method="post">
        <div class="form-group">
            <label for="name_field">Название</label>
            <input type="text" class="form-control bg-secondary text-white" id="name_field" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
</body>
</html>