<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <title th:text="${employee.name}"/>
</head>
<body class="text-light bg-dark">
<header th:insert="blocks/header :: header"/>

<div class="container">
    <div class="row align-items-center alert alert-secondary">
        <h2 class="col" th:text="${employee.name}"/>
        <a class="ml-2 btn btn-primary" th:href="@{/employee/{id}/edit(id=${employee.getId()})}">Изменить</a>
        <form th:action="'/employee/' + ${employee.id} + '/remove'" method="post">
            <button class="ml-2 btn btn btn-danger" type="submit">Удалить</button>
        </form>
    </div>
    <div th:if="${organization == null}">
        <p class="lead">Нет информации о сотрудничестве с организациями.</p>
    </div>
    <div th:if="${organization != null}">
        <p class="lead">Является сотрудником организации "<a th:text="${organization.name}" th:href="@{/organization/{id}(id=${organization.getId()})}"/>".</p>
    </div>
</div>
</body>
</html>